.summary, .review {
	position: relative;
	border: 1px solid #EEE;
	border-radius: 5px;
	border-radius: 5px;
	padding: 15px;
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.review .description {
	margin-bottom: 20px;
}

.review .content {
	width: 100%;
}

.review .stars {
	text-align: center;
	font-size: 1.6em;
	color: #FFD700;
	margin-bottom: 10px;
}

.review .average {
	font-size: 2em;
	width: 100%;
	text-align: center;
	padding: 10px;
}

.review .grades {
	width: 100%;
}

.review .grades table {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

.review .grades tr, .review .grades td {
	border: none;
}

.review .grades tr td:nth-child(even) {
	font-weight: 700;
	padding-left: 40px;
}

.review hr {
	height: 1px;
	color: #DDD;
	background-color: #DDD;
	border: none;
}

.summary .grade {
	height: 194px;
	background: url(../img/klantenvertellen.png) no-repeat left top;
	padding: 80px 0 0 68px;
	font-size: 3.8em;
}

.summary .description ul {
	list-style-type: none !important;
}

.summary .intro {
	width: 100%;
}

.summary .intro a {
	display: inline-block;
	border-radius: 2px;
	font-weight: bold;
	padding: 8px;
	margin: 8px;
	background-color: #5CB85C;
	color: #FFF;
}

.center {
	text-align: center;
}

.pagination {
    display: inline-block;
	text-align: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
	border: 1px solid #ddd;
	transition: background-color .3s;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

@media (max-width: 768px) {
	.hidden-sm-down {
		display: none;
	}
}

@media (min-width: 768px) {
	.summary .grade {
		float: left;
		width: 32%;
	}

	.summary .description {
		float: left;
		width: 32%;
	}

	.summary .intro {
		float: left;
		width: 32%;
	}

	.review .content {
		float: left;
		width: calc(100% - 105px);
	}

	.review .grades {
		float: left;
		width: calc(33.33% - 50px);
		margin-right: 50px;
	}

	.review .average {
		margin-right: 15px;
		width: 80px;
		height: 100%;
		float: left;
	}

	.review .stars {
		text-align: left;
	}

	.hidden-sm-up {
		display: none;
	}
}
